{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid">
        {{ form_start(form) }}
        {{ form_widget(form) }}
            <input type='submit' value='Add program' class="form-control-m">
        {{ form_end(form) }}
    </div>
{% endblock %}