{% extends 'base.html.twig' %}

{% block body %}
<h1 class="text-center">{{ Bienvenue }}</h1>
<section class="bg-secondary-color py-5">
<h2 class="text-center">Mes séries favorites</h2></section>
<section class="bg-main-color py-5">
<h2 class="text-center">Découvrez de nouvelles séries selon vos goûts</h2></section>
<section class="bg-secondary-color py-5">
<h2 class="text-center">Retrouvez vos acteurs favoris</h2></section>
{% endblock %}