{% extends 'base.html.twig' %}

{% block title %}Actor
{% endblock %}

{% block body %}
	<div class="text-center mt-3">
		<h1>Actor</h1>
		<h2>
			{{actor.firstname}}
			{{actor.lastname}}
			{% for program in actor.programs %}
                <h3> Séries : </h3>
				<p><a href="{{ path("program_show", { id: program.id }) }}">{{ program.title }}</a>
				</p>
            {% endfor %}
				
			{% endblock %}